@font-face {
    font-family: "RelayComp-Black";
    src: url('/fonts/relaycomp-black.ttf');
}
h1, h2, h3, h4, h5, h6{
    font-family : "RelayComp-Black";
}
/*.main-title { font-size : 46px}*/

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: .05rem solid #e5e5e5;
  color : #555;
  text-align : left;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.possedex .nav-pills .nav-link.active{
    background-color : #555;
    color : #fff;
}
.possedex .nav-pills .nav-link{
    color : #555;
}
.possedex h3.text-muted{
    color : #555
}

.possedex a { color : #111;font-weight:bold}


h1, h2, h3, h4, h5, h6, #result label{
    color       : #00A86B;
    font-family : "RelayComp-Black";
}
#result {
    background-color : #1d2771;
    color            : #f4f4f8;
    padding          : 20px;
}
#result label {
    font-size        : 24px;
}
#result p {
    font-size        : 18px;
    margin-left      : 30px;
}
